/*
  Problems:
  center the most liked banner
  email text line up
  smaller screen fit
  phone size the br for footer doesn't fit
*/








* {
  margin: 0px;
  padding: 0px;
  border-sizing: border-box;
}

.container{
  
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
 /* border: 2px solid black;*/
}
.box{
  width: 100%;
  position: relative;
  left: 6px;
 
  
  
}

#img2{
  float: left;
width: 60px;
height: 60px;
border: 3px solid rgb(8, 8, 8);
border-radius: 50%;
padding-top: 0px;
position: relative;
left: 25px;
bottom: 10px;
}

#img1{
float: left;
width: 120px;
height: 120px;
border: 6px solid rgb(8, 8, 8);
border-radius: 50%;
padding-left: 0px;
position: relative;
left: 9px;
}

.text{
font-size: 90px;
position: relative;
left: 10px;
color: rgb(41, 116, 228);
font-family: sans-serif;

}

#promo {
  background-color: #7ac6dd;
  display: inline;
  grid-template-columns: 33.33% 33.33% 33.33%;
  align-items: center;
  min-height: 40px;
  padding-top: 10px;
  margin-bottom: 2px;
  border-bottom: 0px;
  border: 2px solid #0e0d0d;
  padding-bottom: 10px;
  font-size: 20px;
  font-weight: 500;
}

.left {
  justify-self: stretch;
  text-align: center;
}

.center {
  justify-self: stretch;
  text-align: center;
}

.right {
  justify-self: stretch;
  text-align: center;
}

.promo-link {
  color: rgb(0, 0, 0);
  text-decoration-color: #222;
  font-size: 25px;
}

nav {
  display: grid;
  
  grid-template-columns: 50% 50%;
  border: 2px solid #0e0d0d;
  min-height: 50px;
  align-items: center;
}

#arc{
  
    opacity: 1;
    padding-top: 10px;
    width: 15%;
    height: 15%;
    border-radius: 50%;
    
}


}


.nav-links {
  display: inline-blockS;
  list-style: none;
  justify-self: end;
  position: relative;
  left: 500px;
  bottom: 2px;
}

.nav-links li {
  padding-left: 15px;
  padding-right: 15px;
  
}

nav a {
  text-decoration: none;
  color: #0c0b0b;
  font-size: 25px;
  font-weight: 500;
  
}

nav a:hover {
  color: #b2b2b2;
  border-bottom: 1px solid black;
}

.logo {
  color: #c54abb;
  text-transform: uppercase;
  padding-left: 20px;
  justify-self: start;
  font-size: 30px;
  font-weight: 700;
}

.burger {
  display: none;
  cursor: pointer;
  padding-right: 5px;
  justify-self: end;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: rgb(226, 226, 226);
  margin: 5px;
  transition: all 0.3s ease;
}

/*    PICTURE BODY SECTION */
.body-content {
  display: grid;
  overflow: hidden;
  margin-left: 20px;
  margin-right: 20px;
}

.two-picture-division {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-column-gap: 10px;
}

.three-div {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 10px;
}

.exclusives-title {
  padding-top: 10px;
  text-align: center;
  display: grid;
}

.exclusives-title h2 {
  font-weight: bold;
  padding-bottom: 5px;
  padding-top: 20px;
}

.exclusive {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-column-gap: 10px;
}

img {
  display: inline;
  opacity: 1;
  padding-top: 10px;
  width: 100%;
  height: auto;
}

img:hover {
  opacity: 0.8;
}

.picture-description {
  text-align: left;
  color: #222;
  padding-top: 5px;
}

.button{

  background-color:#7ac6dd ;    /*rgb(60, 255, 255)*/
width: 200px;
height: 80px;
font-size: 25px;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  border: 2px solid black;
  color: #141414;
  box-shadow: 6px 6px lightgray;
  border-radius: 8px;
  margin-bottom: 25px;
  margin-left: 25px
 ;
}

.button2{

  background-color:#7ac6dd ;    /*rgb(60, 255, 255)*/
width: 200px;
height: 80px;
font-size: 25px;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  border: 2px solid black;
  color: #141414;
  box-shadow: 6px 6px lightgray;
  border-radius: 8px;
  margin-bottom: 25px;
  margin-left: 25px
  ;
}




{
  margin:0;
  padding:0;
  font-family: 'Poppins', sans-serif;
  box-sizing:border-box;
}
.banner{
  position:relative;
  height:100vh;
  width:100%;
  /*background-image:url('image_7.jpeg')*/;
  background-size:cover;
  background-position:center;
  display:flex;
  justify-content:center;
  align-items:center;
  overflow:hidden;
}
h2{
  position:relative;
  color:rgb(4, 4, 83);
  font-size:12rem;
  padding-bottom: 0px;
}
.clouds{
  position:absolute;
  top:0;
  left:0;
  height:100%;
  width:100%;
  pointer-events:none;
}
.clouds img{
  position:absolute;
  bottom:0;
  max-width:100%;
  animation:animate calc(2s * var(--i)) linear infinite;
}
@keyframes animate{
  0%{
    opacity:0;
    transform:scale(1);
  }
  25%, 75%{
    opacity:1;
  }
  100%{
    opacity:0;
    transform:scale(3);
  }
}
section{
  padding:20px 40px;
}
section h1{
  font-size:4rem;
  margin-bottom:20px;
}
@media screen and (max-width: 1000px){
  h2{
    font-size:8rem;
  }
  h1{
    font-size:2rem;
  }
}
@media screen and (max-width: 800px){
  h2{
    font-size:6rem;
  }
  h1{
    font-size:1.2rem;
  }
}

.exclusive a {
  text-decoration: none;
}

footer {
  background-color: #f4f4f4;
  border-top: 0.3px solid #d3d3d3;
  margin-top: 50px;
  padding-left: 20vh;
  padding-right: 20vh;
  padding-top: 20px;
  padding-bottom: 20px;
}

.email-section {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-column-gap: 10px;
  margin-bottom: 60px;
  margin-right: 30px;
  margin-left: 30px;
}

#email-text h2 {
  font-weight: 200;
  padding-bottom: 5px;
}

#email-text p {
  width: 60%;
}

#email-input {
  padding-top: 8px;
}

#email-input p {
  padding-bottom: 4px;
}

.submit-button {
  background-color: #000;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.input-box-wide {
  padding: 16px;
  border: 0.3px solid black;
  margin-right: 15px;
}

.footer-info {
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-column-gap: 10px;
  margin-bottom: 60px;
  margin-right: 30px;
  margin-left: 30px;
}

.footer-info hr {
  width: 50%;
  margin-top: 10px;
  margin-bottom: 5px;
}

.footer-info-links a {
  text-decoration: none;
  color: #000;
}

.footer-info-links p {
  font-size: 14px;
}

@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }
  .nav-links {
    position: absolute;
    right: 0px;
    height: 100vh;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
    font-size: 30px;
    padding-top: 20vh;
  }

  .nav-links li {
    opacity: 0;
    margin-bottom: 10px;
  }

  .burger {
    display: block;
  }

  #promo {
    padding-left: 20px;
  }

  #email-text p {
    width: 100%;
  }

  .submit-button {
    margin-top: 10px;
  }
  
  .email-section {
    display: block;
    margin: 0;
    padding-bottom: 20px;
  }
  .footer-info {
    display: block;
    margin: 0;
  }
}

.nav-active {
  transform: translateX(0%);
}

.scroll{
    overflow-y: hidden;
}

.hidden{
  display: none;
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }

  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}





/*footer*/
body {
  display: grid;
  grid-template-rows: 1fr auto;
  grid-template-areas: "main" "footer";
  overflow-x: hidden;
  background: #F5F7FA;
  min-height: 100vh;
  font-family: "Open Sans", sans-serif;
}
body .footer {
  z-index: 1;
  --footer-background:#6199be;
  display: grid;
  position: relative;
  grid-area: footer;
  min-height: 12rem;
}
body .footer .bubbles {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 1rem;
  background: var(--footer-background);
  filter: url("#blob");
}
body .footer .bubbles .bubble {
  position: absolute;
  left: var(--position, 50%);
  background: var(--footer-background);
  border-radius: 100%;
  -webkit-animation: bubble-size var(--time, 4s) ease-in infinite var(--delay, 0s), bubble-move var(--time, 4s) ease-in infinite var(--delay, 0s);
          animation: bubble-size var(--time, 4s) ease-in infinite var(--delay, 0s), bubble-move var(--time, 4s) ease-in infinite var(--delay, 0s);
  transform: translate(-50%, 100%);
}
body .footer .content {
  z-index: 2;
  display: grid;
  grid-template-columns: 1fr auto;
  grid-gap: 4rem;
  padding: 2rem;
  background: var(--footer-background);
}
body .footer .content a, body .footer .content p {
  color: #F5F7FA;
  text-decoration: none;
}
body .footer .content b {
  color: white;
}
body .footer .content p {
  margin: 0;
  font-size: 0.75rem;
}
body .footer .content > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
body .footer .content > div > div {
  margin: 0.25rem 0;
}
body .footer .content > div > div > * {
  margin-right: 0.5rem;
}
body .footer .content > div .image {
  align-self: center;
  width: 6rem;
  height: 6rem;
  margin: 0.25rem 0;
  background-size: cover;
  background-position: center;
}

@-webkit-keyframes bubble-size {
  0%, 75% {
    width: var(--size, 4rem);
    height: var(--size, 4rem);
  }
  100% {
    width: 0rem;
    height: 0rem;
  }
}

@keyframes bubble-size {
  0%, 75% {
    width: var(--size, 4rem);
    height: var(--size, 4rem);
  }
  100% {
    width: 0rem;
    height: 0rem;
  }
}
@-webkit-keyframes bubble-move {
  0% {
    bottom: -4rem;
  }
  100% {
    bottom: var(--distance, 10rem);
  }
}
@keyframes bubble-move {
  0% {
    bottom: -4rem;
  }
  100% {
    bottom: var(--distance, 10rem);
  }
}
/*footer*/
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
  margin:0;
  padding:0;
  font-family: 'Poppins', sans-serif;
  box-sizing:border-box;
}
.banner{
  position:relative;
  height:100vh;
  width:100%;
  background:url('image_8.jpeg');
  background-size:cover;
  background-position:center;
  display:flex;
  justify-content:center;
  align-items:center;
  overflow:hidden;
}
h2{
  position:relative;
  color:lavender;
  font-size:12rem;
  padding-bottom: 0px;
}
.clouds{
  position:absolute;
  top:0;
  left:0;
  height:100%;
  width:100%;
  pointer-events:none;
}
.clouds img{
  position:absolute;
  bottom:0;
  max-width:100%;
  animation:animate calc(2s * var(--i)) linear infinite;
}
@keyframes animate{
  0%{
    opacity:0;
    transform:scale(1);
  }
  25%, 75%{
    opacity:1;
  }
  100%{
    opacity:0;
    transform:scale(3);
  }
}
section{
  padding:20px 40px;
}
section h1{
  font-size:4rem;
  margin-bottom:20px;
}
@media screen and (max-width: 1000px){
  h2{
    font-size:8rem;
  }
  h1{
    font-size:2rem;
  }
}
@media screen and (max-width: 800px){
  h2{
    font-size:6rem;
  }
  h1{
    font-size:1.2rem;
  }
}
/*footer*/
